            {{#if poster_path}}
            <img class="modal__img" src='https://image.tmdb.org/t/p/original/{{poster_path}}' alt="{{title}}">
            {{else}}
            <img class="modal__img" src='https://image.tmdb.org/t/p/original//w4OS1QNZCXnJSVuRP2qzzVIO63q.jpg' alt="{{title}}">
            {{/if}}

            <div class="modal__description">
                <h2 class="modal__title">{{title}}</h2>
                <ul class="modal__info-list">
                    <li class="info-list__item">
                        <h3 class="info-list__title">Vote / Votes</h3>
                        <span class="info-list__rating">{{vote_average}}</span>
                        <span class="info-list__rating--slash">/</span>
                        <p class="info-list__rating info-list__rating--white">{{vote_count}}</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__title">Popularity</h3>
                        <p class="info-list__description">{{popularity}}</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__title">Original Title</h3>
                        <p class="info-list__description--title">{{original_title}}</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__title">Genre</h3>
                        <p class="info-list__description">{{#each genres}}<span class="description__genre--name">{{this.name}} </span>{{/each}}</p>
                    </li>
                </ul>
                <h3 class="modal__about">About</h3>
                <p class="about__text">{{overview}}</p>
                <ul class="modal__btn-list">
                    {{#if b}}
                    <li class="btn-list__item"><button data-name="add__watched" class="btn__watched">add to Watched</button></li>
                    {{else}}
                    <li class="btn-list__item"><button data-name="add__watched" class="btn__watched">remuve to Watched</button></li>
                    {{/if}}
                    {{#if a}}
                    <li class="btn-list__item"><button data-name="add__queue" class="btn__watched btn__queue">add to queue</button></li>
                    {{else}}
                    <li class="btn-list__item"><button data-name="add__queue" class="btn__watched btn__queue">remuve to queue</button></li>
                    {{/if}}
                </ul>
            </div>
