{{#each this}}

  <li class='list__item'>
    {{#if poster_path}}
    <img
      id='{{id}}'
      class='item__img'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
      alt='{{title}}'
    />
    {{else}}
    <img
      id='{{id}}'
      class='item__img'
      src='https://image.tmdb.org/t/p/original//w4OS1QNZCXnJSVuRP2qzzVIO63q.jpg'
      alt='{{title}}'
    />
    {{/if}}
    <div class='item__wrapper'>
      <h2 class='item__title'>{{title}}</h2>
      <div class='about-movie'>
        <p class='irem__text genre-js'>{{genre_ids}}</p>
        <p class='irem__text'> | {{release_date}}</p>
        <p>{{vote_average}}</p>
      </div>
    </div>
  </li>

{{/each}}